In [ ]:
"연습문제"
"타이타닉 데이터셋\
생존여부(<-출력변수)\
decision tree(최적depth)\
train,test(정확도)"

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.tree import export_graphviz
from sklearn import tree
from sklearn import metrics
%matplotlib inline

In [89]:
train=pd.read_csv("train0316.csv")
test=pd.read_csv("test0316.csv")

In [90]:
train.head(4)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S

In [92]:
train['Cabin'].fillna(0,inplace=True)

In [95]:
train['Cabin']

0      0
1      C
2      0
3      C
4      0
      ..
886    0
887    B
888    0
889    C
890    0
Name: Cabin, Length: 891, dtype: object

In [94]:
# "Cabin"의 분류를 앞 글자로만
for i in range(len(train['Cabin'])):
    if train['Cabin'][i] != 0:
        train['Cabin'][i] = train['Cabin'][i][0]
    else:
        pass

C:\Users\student\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [96]:
train['Cabin'].value_counts()
cabin_mapping ={0:0,"A":1,"B":2,"C":3,"D":4,"E":5,"F":6,"G":7,"T":8}
train['Cabin']=train['Cabin'].map(cabin_mapping)
train['Cabin']

0      0
1      3
2      0
3      3
4      0
      ..
886    0
887    2
888    0
889    3
890    0
Name: Cabin, Length: 891, dtype: int64

In [97]:
train['Sex']=train['Sex'].map({"male":1,"female":0})

In [98]:
train['Cabin'].isnull()

0      False
1      False
2      False
3      False
4      False
       ...
886    False
887    False
888    False
889    False
890    False
Name: Cabin, Length: 891, dtype: bool

In [125]:
train.drop('Name',axis=1,inplace=True)
train.drop('Ticket',axis=1,inplace=True)
train=train.drop(829)   # 난수 행 제거
train['Embarked']=train['Embarked'].map({"S":0,"C":1,"Q":2})   #Embarked에 0,1,2 맵핑
train=train.dropna()
train             # NaN 값 제거

,PassengerId,Survived,Pclass,Sex,Age,SibSp,Parch,Fare,Cabin,Embarked
0,1,0,3,1,22.0,1,0,7.2500,0,0
1,2,1,1,0,38.0,1,0,71.2833,3,1
2,3,1,3,0,26.0,0,0,7.9250,0,0
3,4,1,1,0,35.0,1,0,53.1000,3,0
4,5,0,3,1,35.0,0,0,8.0500,0,0
...,...,...,...,...,...,...,...,...,...,...
885,886,0,3,0,39.0,0,5,29.1250,0,2
886,887,0,2,1,27.0,0,0,13.0000,0,0
887,888,1,1,0,19.0,0,0,30.0000,2,0
889,890,1,1,1,26.0,0,0,30.0000,3,1
890,891,0,3,1,32.0,0,0,7.7500,0,2

In [126]:
trainInput=train.drop("Survived",axis=1)  # 입력값
trainlabel=train.Survived               # 출력값

In [127]:
dataTrain,dataTest,labelTrain,labelTest=train_test_split(trainInput,
                                                         trainlabel,train_size=0.2,
                                                         random_state=42)

In [128]:
dt2=tree.DecisionTreeClassifier(max_depth=2)
dt2.fit(dataTrain, labelTrain) # fit을 해줌
dt2_sc_train=dt2.score(dataTrain, labelTrain)
dt2_sc_test=dt2.score(dataTest, labelTest)
print("트레이닝스코어:",dt2_sc_train)
print("테스트스코어:",dt2_sc_test)

트레이닝스코어: 0.7887323943661971
테스트스코어: 0.7192982456140351