In [1]:
#iris 데이터 분류기(MLP기반) 제작

In [2]:
from sklearn.datasets import load_iris
import pandas as pd
import numpy as np

In [5]:
iris=load_iris()

In [9]:
iris_data=pd.DataFrame(data=np.c_[iris['data'],
                                  iris['target']],
                       columns=iris['feature_names']+['target'])

In [10]:
iris_data

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,5.1,3.5,1.4,0.2,0.0
1,4.9,3.0,1.4,0.2,0.0
2,4.7,3.2,1.3,0.2,0.0
3,4.6,3.1,1.5,0.2,0.0
4,5.0,3.6,1.4,0.2,0.0
...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,2.0
146,6.3,2.5,5.0,1.9,2.0
147,6.5,3.0,5.2,2.0,2.0
148,6.2,3.4,5.4,2.3,2.0
149,5.9,3.0,5.1,1.8,2.0

In [15]:
target=iris_data.target

In [16]:
type(target)

pandas.core.series.Series

In [18]:
iris_copied=iris_data.copy()
iris_copied.drop('target',axis=1,inplace=True)  #copy한걸로 해보기

In [19]:
iris_copied

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                  5.1               3.5                1.4               0.2
1                  4.9               3.0                1.4               0.2
2                  4.7               3.2                1.3               0.2
3                  4.6               3.1                1.5               0.2
4                  5.0               3.6                1.4               0.2
..                 ...               ...                ...               ...
145                6.7               3.0                5.2               2.3
146                6.3               2.5                5.0               1.9
147                6.5               3.0                5.2               2.0
148                6.2               3.4                5.4               2.3
149                5.9               3.0                5.1               1.8

[150 rows x 4 columns]

In [21]:
iris_copied

sepal length (cm)    0
sepal width (cm)     0
petal length (cm)    0
petal width (cm)     0
dtype: int64

In [22]:
from sklearn import preprocessing
scaler2=preprocessing.StandardScaler().fit(iris_copied)

In [29]:
target_arr=np.array(target)

In [37]:
target_arr=target_arr.reshape(-1,1)

In [40]:
iris_copied.shape

(150, 4)

In [41]:
iris_copied=scaler2.transform(iris_copied)

In [44]:
from sklearn.neural_network import MLPRegressor
mlr=MLPRegressor(solver='lbfgs',
                 alpha=1e-5,
                 hidden_layer_sizes=(50,50))
mlr.fit(iris_copied,target_arr)

C:\Users\ilike\Anaconda3\lib\site-packages\sklearn\neural_network\multilayer_perceptron.py:1321: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

MLPRegressor(activation='relu', alpha=1e-05, batch_size='auto', beta_1=0.9,
             beta_2=0.999, early_stopping=False, epsilon=1e-08,
             hidden_layer_sizes=(50, 50), learning_rate='constant',
             learning_rate_init=0.001, max_iter=200, momentum=0.9,
             n_iter_no_change=10, nesterovs_momentum=True, power_t=0.5,
             random_state=None, shuffle=True, solver='lbfgs', tol=0.0001,
             validation_fraction=0.1, verbose=False, warm_start=False)

In [46]:
mlr.score(iris_copied,target_arr)

0.8885495646650532

In [47]:
for a,b in zip(np.array(target_arr),
               mlr.predict(iris_copied)):
    print(a,"|",b)

[0.] | -0.09288908281890165
[0.] | 0.04068546844770346
[0.] | 0.06323244712848272
[0.] | 0.10695123771698598
[0.] | -0.081452304331224
[0.] | 0.005254041881934984
[0.] | 0.18026873594057755
[0.] | -0.04949687052494603
[0.] | 0.19275592742135025
[0.] | -0.09588974079950865
[0.] | -0.2059449787668425
[0.] | 0.005332120256658829
[0.] | -0.053150685094545264
[0.] | 0.08212561123975512
[0.] | -0.3633728218922362
[0.] | 0.2419340799126067
[0.] | 0.003947728703946968
[0.] | 0.028198276966937857
[0.] | -0.18177250887862875
[0.] | -0.0189184280062539
[0.] | -0.15784853891015707
[0.] | 0.11798335953540637
[0.] | 0.02624620746503034
[0.] | 0.3029815869337237
[0.] | 0.006311855140163164
[0.] | 0.014087418793108458
[0.] | 0.19300442734111364
[0.] | -0.11981371076797323
[0.] | -0.10432586130652957
[0.] | 0.06421218201200482
[0.] | 0.052775403524327164
[0.] | 0.08367302407238406
[0.] | -0.3357876370890428
[0.] | -0.19924092014140463
[0.] | 0.025197618986302434
[0.] | -0.018847749896666738
[0.] | -0.20222048608765256
[0.] | -0.17528845787346561
[0.] | 0.1766149213709641
[0.] | -0.0767480767685084
[0.] | 0.05512290491596325
[0.] | 0.38115206920437383
[0.] | 0.14498606585921955
[0.] | 0.4193647191567943
[0.] | 0.10347524495750968
[0.] | 0.1890240344770556
[0.] | -0.13967920949756
[0.] | 0.0908102316665785
[0.] | -0.17869377252323396
[0.] | -0.03400902106356277
[1.] | 0.900606682968954
[1.] | 1.1845481236271256
[1.] | 1.0654128333432291
[1.] | 1.3283312185781122
[1.] | 1.2208812067016248
[1.] | 1.196389558784032
[1.] | 1.3177254184895852
[1.] | 1.1104759008646974
[1.] | 0.9356408531306196
[1.] | 1.4675879077764458
[1.] | 1.1471355622336696
[1.] | 1.3514532754731883
[1.] | 0.8446275357588017
[1.] | 1.193310822428719
[1.] | 1.2048871326212003
[1.] | 0.9971949945720499
[1.] | 1.434186629087362
[1.] | 0.8203843877610363
[1.] | 1.3971948136731223
[1.] | 1.0269498589567385
[1.] | 1.685045969085772
[1.] | 1.0857518423372932
[1.] | 1.3238066373398618
[1.] | 0.9669505306130101
[1.] | 0.9891635307342294
[1.] | 1.0402606285714862
[1.] | 1.0186933847741082
[1.] | 1.3782309714522485
[1.] | 1.3409962318690647
[1.] | 0.861490551993496
[1.] | 1.0696889146616593
[1.] | 0.948274976581393
[1.] | 1.0619059507435702
[1.] | 1.4956719169336006
[1.] | 1.4886890415744973
[1.] | 1.3830114528753812
[1.] | 1.1192620892413652
[1.] | 1.1116278818076333
[1.] | 1.1907055963377766
[1.] | 1.2967023630663286
[1.] | 1.161106888702603
[1.] | 1.1771698163783044
[1.] | 1.0780469567939528
[1.] | 1.0990391223770126
[1.] | 1.2384754579000423
[1.] | 1.042693608602972
[1.] | 1.179595396144643
[1.] | 1.0436659432213398
[1.] | 1.1602666855239627
[1.] | 1.1950832456060192
[2.] | 2.4117571743900843
[2.] | 1.9134364087780378
[2.] | 1.7565147902716676
[2.] | 1.6260970537352024
[2.] | 2.0407828092242593
[2.] | 1.6225448071154156
[2.] | 1.946191931143259
[2.] | 1.3558710393610818
[2.] | 1.5810030963735338
[2.] | 2.1193796132248846
[2.] | 1.7646931860794426
[2.] | 1.7505823279056238
[2.] | 1.8369620958243382
[2.] | 2.0930772520247185
[2.] | 2.503058779951017
[2.] | 2.1558596282693276
[2.] | 1.5554536351976418
[2.] | 1.5901921169049602
[2.] | 1.9017057663503942
[2.] | 1.4533301176326867
[2.] | 2.0209099102295607
[2.] | 2.072558596706008
[2.] | 1.5061616748923166
[2.] | 1.6554398611854617
[2.] | 1.8174231753892423
[2.] | 1.334699227453514
[2.] | 1.6665500613785988
[2.] | 1.6624989904049146
[2.] | 1.9779223546048976
[2.] | 1.1235002068047188
[2.] | 1.4648684640702052
[2.] | 1.29253524996278
[2.] | 2.099009714390659
[2.] | 1.2770165106612106
[2.] | 1.24369331034684
[2.] | 1.8358354289708758
[2.] | 2.273549073670436
[2.] | 1.5668904136853479
[2.] | 1.689423618354004
[2.] | 1.793569883530404
[2.] | 2.2119875319638442
[2.] | 2.034764868218458
[2.] | 1.9134364087780378
[2.] | 2.0488142730621046
[2.] | 2.301772614532352
[2.] | 2.1054082867559796
[2.] | 1.8084826547775188
[2.] | 1.7966486198857419
[2.] | 2.1790597635391986
[2.] | 1.7176545594810457

In [48]:
from sklearn.neural_network import MLPClassifier
clf=MLPClassifier(solver='lbfgs',alpha=1e-5,
                 hidden_layer_sizes=(100,100,50,20))

In [49]:
clf.fit(iris_data,target_arr)

C:\Users\ilike\Anaconda3\lib\site-packages\sklearn\neural_network\multilayer_perceptron.py:921: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

MLPClassifier(activation='relu', alpha=1e-05, batch_size='auto', beta_1=0.9,
              beta_2=0.999, early_stopping=False, epsilon=1e-08,
              hidden_layer_sizes=(100, 100, 50, 20), learning_rate='constant',
              learning_rate_init=0.001, max_iter=200, momentum=0.9,
              n_iter_no_change=10, nesterovs_momentum=True, power_t=0.5,
              random_state=None, shuffle=True, solver='lbfgs', tol=0.0001,
              validation_fraction=0.1, verbose=False, warm_start=False)

In [50]:
clf.score(iris_data,target_arr)

1.0

In [53]:
clf.predict(iris_data).astype(int)

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2])

In [ ]:
savetest=pd.DataFrame()