In [2]:
x,y=input().split()

5 10

In [6]:
#x,y=input("문자열 두개 입력:").split()
print(type(input("문자열 두개 입력:").split()))
x,y=map(int,input().split())  #map을 쓸 때에 변수는 map('함수','데이터')
print(x+y)

문자열 두개 입력:5 10
<class 'list'>
5 10
15

In [7]:
x,y=map(int,input().split(","))

2,6

In [8]:
print(y/2)

3.0

In [9]:
print("hi","hello")

hi hello

In [10]:
print(1,2,3,4,5,6,7, sep="/")

1/2/3/4/5/6/7

In [12]:
print(1,2,3,4, sep="\n")#\n:제어문자(화면에 출력x),\n 줄바꿈->줄바꾸는 것도 문자로 인식

1
2
3
4

In [14]:
print("1\n2\n3")

1
2
3

In [15]:
print("1\t2\t3")

1	2	3

In [16]:
print("1\\2") # \<- 사전에 이미 등록이 되어있기 때문에 문자로쓸려면 2번

1\2

In [17]:

print(1)
print(2)
print(7)
print(1,2,7)

1
2
7
1 2 7

In [20]:
print(1, end='   ')   # <- 이어서 
print(2)
print(7)
print(1,2,7)

1   2
7
1 2 7

In [21]:
"""
불린(Boolean): True/False 값을 가짐 <-이것을 논리값이라고함
"""
2>1

True

In [22]:
2==1

False

In [23]:
2!=1

True

In [25]:
"Python"=="python"

False

In [26]:
1==1.0

True

In [27]:
#연산을 할 때 기본적으로 객체를 같게 만들어 주고 비교를 함
1 is 1.0  #정수 1객체 == 실수 1.0 객체 => 다르다

False

In [28]:
1 is not 1.0

True

In [29]:
 """ *건물
 클래스: 건물을 지을 때 쓰는 설계도
 객체 : 건물
 속성 : 건물의 특성(층, 용도, 평수 등)
 메서드 : 건물의 동작
 상속 : 유사한 건물 설계시, 기존 건축설계도의 재사용
 
 """
 """ *붕어방
 클래스: 붕어빵기계
 객체: 붕어빵
 속성: 내용물, 크기
 메서드: 굽는다, 붕어빵의 동작
 상속: 예) 부모-> 습관 -> 자식(+습관2) -> 자식(습관,습관2 + 습관3)
 """

' *붕어방\n클래스: 붕어빵기계\n객체: 붕어빵\n속성: 내용물, 크기\n메서드: 굽는다, 붕어빵의 동작\n상속: 예) 부모-> 습관 -> 자식(+습관2) -> 자식(습관,습관2 + 습관3)\n'

In [33]:
# 논리연산: and, or, not
True and True #and연산: 모두 참인 경우 => 참
True and False

False

In [34]:
True or False #or연산: 작어도 하나 이상 참 => 참

True

In [35]:
#not: 논리값 반대로 뒤집는 연산자
not True is False

True

In [36]:
not True and False or not False

True

In [37]:
((not True) and False) or (not False)

True

In [40]:
1==1 and 10 != 9
not 1>0   # not (true) => False

False

In [43]:
# bool함수: 정수, 실수, 문자열 => 불린 타입 변환
bool(1)
bool(0)
bool(-1)   # 정수 0을 제외한 모든 정수는 참
bool(3.14)
bool(0.01) # 실수 0.0을 제외한 모든 실수는 참

True

In [44]:
bool("hi")

True

In [45]:
bool("")

False

In [46]:
bool('')     # 빈 문자열을 넣으면 거짓이 나온다

False

In [47]:
False and True # <-앞에가 False 이므로 and 뒤부터는 연산을 안함

False

In [49]:
True or False # <- 마찬가지로 연산을 안함

True

In [50]:
number=3
day="two"
"I eat %d apples." % 3 #<-d가 decimal을 의미함, 3이라는 값을 %d자리로 보낸다

'I eat 3 apples.'

In [51]:
"I eat %d apples." % "three"

TypeError: %d format: a number is required, not str

In [52]:
"I eat %s apples" % "three" # <-문자열일 경우 %s를 사용

'I eat three apples'

In [53]:
"I eat %d apples." % number

'I eat 3 apples.'

In [56]:
# 2개 이상의 값을 %로 전달하려면 괄호로 묶어서 표현해야 한다
"I ate %d apples. so I was sick for %s days" % (number, day)

'I ate 3 apples. so I was sick for two days'

In [57]:
"I eat %s apples" % "three"
"I eat %s apples" % 3  # %s인데 그냥 %에 숫자,실수,정수가 다 됨,유용함
                       # %s는 타입과 관련업이 전달 받아서 출력해줌

'I eat 3 apples'

In [58]:
"Error is %d%%" % 90 # %기호 출력, %도 이미 약속이 되어져 있기 때문에 2번!

'Error is 90%'

In [59]:
"%s" % "hi"

'hi'

In [60]:
print("%s" % "hello")

hello

In [61]:
# %10s : 10자리를 확보한 후, 오른쪽 정렬 출력
print("%10s" % "hello")

     hello

In [64]:
print("%-10s"% "hello") # %-10s : 10자리 확보한 후, 오른쪽 정렬 출력
print("%10s" % "hello")
print("%10s" % "world")
print("%-10sgd"% "hello")
print("%-10sgd"% "hi")

hello
     hello
     world
hello     gd
hi        gd

In [66]:
"%f" % 3.14   #소숫점 이하 6자릿수 까지 출력
"%.3f" % 3.14   #소숫점 자릿수를 출력할 때 %.<원하는 자릿수> 로 하면 된다

'3.140'

In [67]:
"%10.2f" %3.14  #10자리를 확보한 후, 출력해라

'      3.14'

In [69]:
#format함수를 이용한 포매팅
##"I eat %d apples" % 3
"I eat {0} apples".format(3)  # {}의 의미는 format의 값을 넣기로 되어져있음
"I eat {0} apples".format("three")

'I eat three apples'

In [71]:
num=3
"I eat {0} apples".format(num)

'I eat 3 apples'

In [72]:
# format에서 순서가 0부터 순서대로 감, {0}을 먼저 감
"I ate {0} apples. so I was sick for {1} days" .format(3,"three")

'I ate 3 apples. so I was sick for three days'

In [73]:
# 변수로 쓸수 도 있음(많아서 헷갈릴 경우)
"I ate {num} apples. so I was sick for {day} days" .format(num=3,day="three")

'I ate 3 apples. so I was sick for three days'

In [74]:
# 숫자와 변수 혼용으로도 쓸 수 있음
"I ate {0} apples. so I was sick for {day} days" .format(3,day="three")

'I ate 3 apples. so I was sick for three days'

In [76]:
"{0}".format("hi","hello")

'hi'

In [77]:
"{1}".format("hi","hello")

'hello'

In [83]:
#정렬 옵션
"{0:<10}".format("hello")   # <-10자리 확보, 왼쪽 정렬
"{0:>10}".format("hello")   # <-10자리 확보, 오른쪽 정렬
"{0:^10}".format("hello")   # <-10자리 확보, 가운데 정렬
"{0:*^10}".format("hello")   # <-10자리 확보, 빈칸을 별로 채움

'**hello***'

In [85]:
a="hello"
a.count('l') #a단어안에 l문자의 개수
a.count('a') #a단어안에 a문자의 개수

0

In [87]:
b="Python is very easy"
b.find('y') #가장 왼쪽에서부터 찾아가므로 1
b.find('k') #문자가 없으면 -1

-1

In [89]:
b.index('y') #
b.index('k') #문자가 없는 경우에는 에러가 발생(find함수와 차이점)

ValueError: substring not found

In [90]:
"#".join("hello")   #join함수: 문자 사이사이에 #을 넣는다

'h#e#l#l#o'

In [91]:
#리스트: 대괄호([])로 표현, 자료를 나열하고자 할 때 사용
['m','u','l','t','i']    # <- 이런게 리스트 자료 구조

['m', 'u', 'l', 't', 'i']

In [92]:
"$".join(['m','u','l','t','i'])

'm$u$l$t$i'

In [94]:
#자연어처리에서 'test,'TEST','Test' =>일괄적으로 치환
a='teST'
a.lower()  # <-전부 소문자로

'test'

In [95]:
a='teST'
a.upper()  # <-전부 대문자로 ,  이 작업은 필수적인 작업

'TEST'

In [96]:
#strip함수: 양쪽 공백 제거
#lstrip함수: 왼쪽 공백 제거
#rstrip함수: 오른쪽 공백 제거
word="  hello     "
word.strip()

'hello'

In [97]:
word.lstrip()

'hello     '

In [98]:
#replace함수: 문자열 대체
#대한민국, 한국, 코리아, 조선, 고려, 우리나라,...
# => 대한민국으로 바꾸고 싶음
x="대한민국 한국 코리아"
x.replace("한국","대한민국")

'대한민국 대한민국 코리아'

In [99]:
x="a?b?c?d"
x.split("?")

['a', 'b', 'c', 'd']

In [100]:
type(x)

str

In [101]:
type(x.split("?"))

list

In [102]:
x.split()  #공백으로 나눠야하는데 공백이 없음

['a?b?c?d']

In [103]:
"""
리스트: 데이터 타입에 관계 없이 저장 가능
"""
x1=[]  #[]가 리스트, 현재는 빈 리스트됨
x1

[]

In [104]:
x2=[1,2,3]

In [105]:
x2

[1, 2, 3]

In [106]:
x3=['programming','is','very','easy']

In [107]:
x3

['programming', 'is', 'very', 'easy']

In [108]:
x4=[1,2,'is','very']

In [109]:
x4  #리스트 안에 있는 하나하나 원소를 `요소` 라고 부름

[1, 2, 'is', 'very']

In [110]:
x5=[1,2,['is','very']]

In [111]:
x5
        #리스트의 요소로 리스트가 옴, 내부에 어떠한 자료형도 모두 포함될 수

[1, 2, ['is', 'very']]

In [112]:
a=list() #a=[] 비어이쓴 리스트를 만듬
a
a=[1,2,3]
a[0]

1

In [113]:
a[0]+a[2]

4

In [114]:
a[-2]

2

In [115]:
x=[1,2,3,['a','b','c']]
"""
x리스트에서 1을 참조하여 출력하기
"""
x[0]

1

In [116]:
x=[1,2,3,['a','b','c']]
"""
x리스트에서 ['a','b','c']을 참조하여 출력하기
"""
x[-1]

['a', 'b', 'c']

In [117]:
x[-1][1]  #리스트로 ['a','b','c']를 뽑고 거기서 또 2번째 b를 뽑음

'b'

In [118]:
q=[1,2,3,[a,b,['@','$','&']]]
q[-1][-1][1]

'$'

In [122]:
x=[1,2,['a','b',['python','is','fun']]]
x

[1, 2, ['a', 'b', ['python', 'is', 'fun']]]

In [124]:
len(x)

3

In [125]:
x[-1][-1][0]

'python'

In [126]:
x[0:3]  #x변수에 저장된 데이터의 0번~3

[1, 2, ['a', 'b', ['python', 'is', 'fun']]]

In [127]:
x[0:1]

[1]

In [128]:
x[0:2]

[1, 2]

In [129]:
x[1:2]

[2]

In [130]:
x[:]  #시작 인덱스를 생략할 수도 있음

[1, 2, ['a', 'b', ['python', 'is', 'fun']]]

In [131]:
x2=[1,2,3,['a','b','c'],4,5]
x2

[1, 2, 3, ['a', 'b', 'c'], 4, 5]

In [132]:
x[2:]

[['a', 'b', ['python', 'is', 'fun']]]

In [133]:
x2=[2:]

SyntaxError: invalid syntax (<ipython-input-133-6e2e6c7c2175>, line 1)

In [134]:
x2[2:]

[3, ['a', 'b', 'c'], 4, 5]

In [135]:
x2[3][:1]

['a']

In [136]:
x2[3][:2]

['a', 'b']

In [137]:
x2[2:]

[3, ['a', 'b', 'c'], 4, 5]

In [138]:
x=[1,2,3]
y=[4,5,6]
x+y #리스트 더하기 => 2개의 리스트가 연결되어 1개의 리스트

[1, 2, 3, 4, 5, 6]

In [139]:
'hi'+'hello'

'hihello'

In [140]:
x=[9,8,7]
x*3

[9, 8, 7, 9, 8, 7, 9, 8, 7]

In [141]:
x*30

[9,
 8,
 7,
 9,
 8,
 7,
 9,
 8,
 7,
 9,
 8,
 7,
 9,
 8,
 7,
 9,
 8,
 7,
 9,
 8,
 7,
 9,
 8,
 7,
 9,
 8,
 7,
 9,
 8,
 7,
 9,
 8,
 7,
 9,
 8,
 7,
 9,
 8,
 7,
 9,
 8,
 7,
 9,
 8,
 7,
 9,
 8,
 7,
 9,
 8,
 7,
 9,
 8,
 7,
 9,
 8,
 7,
 9,
 8,
 7,
 9,
 8,
 7,
 9,
 8,
 7,
 9,
 8,
 7,
 9,
 8,
 7,
 9,
 8,
 7,
 9,
 8,
 7,
 9,
 8,
 7,
 9,
 8,
 7,
 9,
 8,
 7,
 9,
 8,
 7]

In [142]:
"hello"*9

'hellohellohellohellohellohellohellohellohello'

In [143]:
"z"*11

'zzzzzzzzzzz'

In [144]:
len(x)

3

In [145]:
a[2]

3

In [146]:
a[2]+"hi"

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [147]:
str(a[2])+"hi"

'3hi'

In [148]:
#a=[0,1,2,...,9]
range(6) #0~5까지 연속된 숫자 생성

range(0, 6)

In [149]:
type(range(6))

range

In [151]:
list(range(6))   #<- list함수에 넣으면 range에 있는 수들이 list가 됨

[0, 1, 2, 3, 4, 5]

In [152]:
list(range(3,12))

[3, 4, 5, 6, 7, 8, 9, 10, 11]

In [153]:
list(range(3,12,2))

[3, 5, 7, 9, 11]

In [154]:
list(range(-3,12,2))

[-3, -1, 1, 3, 5, 7, 9, 11]

In [155]:
a=[1,2,3]
a

[1, 2, 3]

In [157]:
del a[1]    #데이터 삭제
a

[1]

In [164]:
range(2) # 1~10까지 숫자가 저장된 리스트를 생성
a=range(11)
list(a)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [170]:
a=range(11)
b=list(a)
type(list(a))

list

In [171]:
del b[6:]

In [172]:
b

[0, 1, 2, 3, 4, 5]

In [175]:
    #리스트변수명. 함수명()
a=[1,2,3]

x=5

#자료구조에 따라 사용 가능한 함수가 다름( 공통 사용 가능함수도 있음)
#자료구조={리스트,튜플,딕셔너리,셋}

  #리스트.함수()
  #딕셔너리.함수()
  #문자열.함수()      #<-함수들이 다 다름
"test".capitalize

In [176]:
  #예: 자동차객체.달린다(), 멈춘다()....
    
  #홍길동객체.먹는다(), 잔다()
  #홍길순객체.먹는다(), 잔다()   <-객체가 같기 때문에, <사람>객체를 클래스라고 함

In [177]:
a.append(x)

In [178]:
a

[1, 2, 3, 5]

In [179]:
x

5

In [180]:
b=[6,7]
a.append(b)

In [181]:
a

[1, 2, 3, 5, [6, 7]]

In [183]:
a.sort()    #error가 나오는 이유는 원소 안에 리스트가 있기 때문에 대소비교 불가

TypeError: '<' not supported between instances of 'list' and 'int'

In [184]:
a=[3,2,1,5,4,5,6,13,26]
a.sort

In [185]:
a.sort()   #a.sort() <-오름차순 정렬

In [186]:
a

[1, 2, 3, 4, 5, 5, 6, 13, 26]

In [187]:
a.reverse()
a

[26, 13, 6, 5, 5, 4, 3, 2, 1]

In [188]:
a=['k','a','z','t']
a.sort()
a

['a', 'k', 't', 'z']

In [189]:
a=[10,20,30]
a.index(20)

1

In [190]:
a.index(1)  #a에 1이 없기 때문에 index error발생

ValueError: 1 is not in list

In [191]:
#insert : 리스트 요소 추가
a=[1,2,3]
a.insert(0,100)  #0번 인덱스 위치에 100 추가
a

[100, 1, 2, 3]

In [192]:
a.insert(3,9)

In [193]:
a

[100, 1, 2, 9, 3]

In [196]:
a=[3,7,5]
a.sort()
a
a.reverse()
a

[7, 5, 3]

In [198]:
a=[3,7,4,11]
a.sort()
a

[3, 4, 7, 11]

In [200]:
a=[3,7,4,11]

a.reverse()
a

[11, 4, 7, 3]

In [201]:
a=[1,2,3,1,2,3]
a.remove(1)

In [202]:
a

[2, 3, 1, 2, 3]

In [203]:
a

[2, 3, 1, 2, 3]

In [205]:
a.remove(3)
a

[2, 1, 2]

In [210]:
a=[10,20,30,40]
a.pop()

40

In [211]:
a

[10, 20, 30]

In [212]:
a.pop()

30

In [213]:
a.pop(1)  #1번 index에 저장되어 있는 자료가 꺼내짐

20

In [214]:
a

[10]

In [215]:
a=[1,2,3,1]
a.count(0)

0

In [216]:
a=[1,2,3]
b=[4,5]
a.append(b)    #리스트로 더해지는게 아니라 원소로 더해지고 싶다=>extend

In [217]:
a

[1, 2, 3, [4, 5]]

In [218]:
a.extend(b)

In [219]:
a

[1, 2, 3, [4, 5], 4, 5]

In [220]:
a+=[8,9]
a

[1, 2, 3, [4, 5], 4, 5, 8, 9]

In [221]:
#연습문제: -주민번호가 주어졌을 때 연월일과 성별을 나타내는 숫자 출력
#          - 문자열 사이에 # 넣기
#          -join함수를 사용해 how are you 만들기
#          -range함수를 활용해 리스트만들기
#(구글개발자채용문제)-1~10,000까지 8이라는 숫자가 총 몇번 나오나 계산

In [ ]:
x=921101-1231234

In [223]:
x

-310133

In [224]:
x='921101-1231234'

In [225]:
x

'921101-1231234'

In [226]:
list(x)

['9', '2', '1', '1', '0', '1', '-', '1', '2', '3', '1', '2', '3', '4']

In [229]:
x1=list(x)
yymmdd=x1[0:5]
personal=x1[7:13]
print(yymmdd)
print(personal)

['9', '2', '1', '1', '0']
['1', '2', '3', '1', '2', '3']

In [233]:
yymmdd1="".join(yymmdd)
personal1="".join(personal)
print(yymmdd1)
print(personal1)

92110
123123

In [234]:
s=personal[0]

In [235]:
s

'1'

In [238]:
text='a:b:c:d'
text

'a:b:c:d'

In [239]:
text1=text.replace(":","#")
text1

'a#b#c#d'

In [241]:
words_list=["How","are","you"]
' '.join(words_list)

'How are you'

In [245]:
Q5=list(range(5,-4,-2))
Q5

[5, 3, 1, -1, -3]

In [286]:
h=list(range(1,10000))
h1=list(range(1,10001))
h2=str(h1)
print(h2.count('8'))

4000

In [287]:
e=list(range(1,10001))

In [300]:
c=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18]
if i in range(10001)
    print("1 is here")

In [302]:
u=range(1,10001)
type(u)

range

In [320]:
z=list(range(1,10001))
for i, number in enumerate(z)
        print(i,number)

SyntaxError: invalid syntax (<ipython-input-320-8b2b678680b2>, line 2)

In [272]:
answer = Q5.count(8)
answer

0